@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  background: #080808;
  color: #f0ece4;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}